@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

:root {
    --main-bg: #1D2123;
    --black: #1E1E1E;
    --light-gray: #A4C7C6;
    --very-light-gray: #EFEEE0;
    --yellow: #FACD66;
    --white: #FFFFFF;
    --gray: #efeee0;
    --light-blue: #609EAF;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    max-width: 100vw;
    background-color: var(--main-bg);
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #2b2a2a;
}

body::-webkit-scrollbar-thumb {
    /* width: 7px; */
    background-color: #3b4747;
    border-radius: 40px;
}

/* HIDDEN ELEMENTS */
.hamburger img {
    display: none;
}

/* NAVBAR */
.navbar {
    padding-top: 1rem;
    position: sticky;
    z-index: 100;
}

.main-icon {
    margin-left: 0.3rem;
}

.nav-1 {
    height: 230px;
    width: 52px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    position: relative;
    margin-top: 1.5rem;
}

.nav-1 svg.active {
    fill: var(--yellow);
}

.nav-1 svg:nth-child(1) {
    position: absolute;
    left: 2px;
    right: 10.42%;
    top: 8.33%;
    bottom: 8.33%;
    transform: scale(0.55);
}

.nav-1 svg:nth-child(2) {
    position: absolute;
    left: 25.33%;
    right: 8.33%;
    top: 34.38%;
    bottom: 7.29%;
    fill: var(--gray);
}

.nav-1 svg:nth-child(3) {
    position: absolute;
    left: 25.33%;
    right: 8.33%;
    top: 55.83%;
    bottom: 8.33%;
}

.nav-1 svg:nth-child(4) {
    position: absolute;
    left: 25.42%;
    right: 10.42%;
    top: 75.33%;
    bottom: 8.33%;
}

.nav-2 {
    height: 127px;
    width: 52px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    position: relative;
    margin-top: 1.5rem;
}

.nav-2 svg {
    position: absolute;
    cursor: pointer;
}

.nav-2 svg:nth-child(1) {
    left: 27.67%;
    right: 20.67%;
    top: 13.15%;
    bottom: 8.33%;
    margin-top: 0.7rem;
}

.nav-2 svg:nth-child(2) {
    left: 30.67%;
    right: 20.67%;
    top: 53.15%;
    bottom: 8.33%;
    margin-top: 0.8rem;
}

/* MAIN */
main {
    padding-left: 2rem;
    width: 93%;
    position: relative;
}


/* HERO SECTION */
.main-hero-div {
    height: 23.3125rem;
    width: 686px;
    padding: 1.5rem 2.6rem;
    background-color: var(--light-blue);
    border-radius: 40px;
    background-image: url("/images/hero-background.svg"), url("/images/wire-image.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right, right;
}

.main-hero-div h1 {
    font-size: 2rem;
    color: var(--white);
}

.main-hero-div h5 {
    color: var(--white);
}

.main-hero-div div {
    margin-top: 5rem;
}

.main-hero-div div:last-child {
    display: flex;
}

.main-hero-div div:last-child p {
    margin-left: 1rem;
}

.main-hero-div div:last-child img:last-child {
    margin-left: 1rem;
}

.main-hero-div div:last-child img:nth-child(2) {
    margin-left: 1rem;
}

.main-hero-div>div>p {
    width: 60%;
    color: var(--white);
}

.search-box-div {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.search-box {
    width: 100%;
    color: var(--white);
    background-color: transparent;
    border: none;
    height: 73px;
    padding-left: 1rem;
    caret-color: var(--very-light-gray);
}

.search-box:focus-visible {
    outline: none;
}


/* SECTION-1 */
.section-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.songs-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* TOP CHARTS */

.charts-div>h2 {
    color: var(--white);
    margin-bottom: 1rem;
}

.song-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    width: 417px;
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--black);
}

.card-flex {
    display: flex;
    gap: 0.6rem;
}

.card-flex h3 {
    color: var(--white);
    font-weight: 300;
    font-size: 0.95rem;
}

.card-flex p {
    color: var(--light-gray);
    font-size: 0.8rem;
}

.card-flex span {
    color: var(--white);
    font-size: 0.8rem;
}


.heart-icon-div {
    height: 37px;
    width: 37px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 100%;
    position: relative;
}

.heart-icon-div img {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


/* SECTION 2 */
.section-2 {
    width: 100%;
}

.section-2>h2 {
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.releases-div {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 1rem;
    padding-bottom: 1rem;
}

.releases-div::-webkit-scrollbar {
    height: 0px;
}

.release p {
    color: var(--white);
    font-weight: 300;
}

.release img {
    width: 153px;
    height: 153px;
}

.release span {
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--light-gray);
}


/* SECTION 3 */

.section-3 h2 {
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.popular-div {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.popular-div::-webkit-scrollbar {
    height: 0px;
}

.popular-song p {
    color: var(--white);
    font-weight: 300;
}

.popular-song span {
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--light-gray);
}

/* MUSIC PLAYER */
.music-player {
    height: 125px;
    width: 100%;
    background: rgba(16, 16, 16, 0.51);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.song-details {
    display: flex;
    align-items: center;
}

.song-details img {
    transform: scale(0.35);
}

.song-details div:last-child {
    transform: translateX(-1.5rem);
    width: 74px;
}

.song-name {
    color: var(--white);
    font-size: 0.9rem;
}

.artiste-name {
    color: var(--light-gray);
    font-size: 0.9rem;
}

.control-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-1rem);
}

.control-buttons svg {
    margin: 0rem 1.5rem 0rem 1.5rem;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.control-buttons svg:hover {
    transform: scale(1.1);
}

.progress-area {
    width: 60vw;
    height: 5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.04);
    cursor: pointer;
}

.progress-bar {
    height: inherit;
    width: 0%;
    border-radius: inherit;
    position: relative;
    background-color: var(--yellow);
}

.progress-bar::before {
    position: absolute;
    left: -13px;
    transition: all 0.2s ease;
    content: url("/images/progress-circle.svg");
    top: -7px;
}

/* VOLUME CONTROLS */
.volume-control {
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
    align-items: center;
}

.volume-area {
    width: 120px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    height: 5px;
    cursor: pointer;
}

.volume-bar {
    width: 0%;
    height: inherit;
    background-color: var(--yellow);
    border-radius: inherit;
}

/*  ======= MEDIA QUERIES  ======== */
@media screen and (max-width:1280px) {
    .song-card {
        width: 30vw;
    }

    .main-hero-div {
        width: 62%;
    }

    .volume-control {
        transform: translateX(-30%);
    }
}

@media screen and (max-width: 1024px) {
    .section-1 {
        flex-direction: column;
    }

    .main-hero-div {
        width: 100%;
        background-image: url("/images/wire-image.svg");
        background-position: bottom;
        margin-bottom: 2rem;
    }

    .song-card {
        height: 233px;
        width: 363px;
        align-items: flex-start;
        scroll-snap-align: center;
    }

    .songs-container {
        overflow-x: scroll;
        display: grid;
        scroll-snap-type: x mandatory;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .songs-container::-webkit-scrollbar {
        height: 0px;
    }

    .songs-container::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .songs-container::-webkit-scrollbar-thumb {
        border-radius: 40px;
        background-color: #3b4747;
    }

    .volume-control {
        transform: translateX(-5rem);
    }

    .card-flex {
        flex-direction: column;
    }
}

@media screen and (max-width: 920px) {
    .hamburger img {
        display: flex;
    }
    .hamburger{
        cursor: pointer;
    }
    .search-box-div input{
        width: 0px;
    }
    .search-box-div{
        transform: translateX(93%);
    }
    .main-icon {
        display: flex;
    }

    .nav-1,
    .nav-2 {
        display: none;
    }

    .main-hero-div {
        width: 100%;
    }

    .main {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .navbar {
        position: absolute;
        left: 2rem;
    }
    body{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}